.row
  .col.button
    %button.btn.btn-primary{disabled: "disabled", type: "button"}
      = I18n.t('lose_page.level')
      %span.badge.badge-light
        #{@game.difficulty.user_difficulty}
    %button.btn.btn-primary{disabled: "disabled", type: "button"}
      = I18n.t('lose_page.attempts')
      %span.badge.badge-light
        #{@game.users_attempts}/#{@game.difficulty.attempts}
    %button.btn.btn-primary{disabled: "disabled", type: "button"}
      = I18n.t('win_page.hints')
      %span.badge.badge-light
        #{@game.users_hints}/#{@game.difficulty.hints}
%hr.mb-4/
.row
  .text-center
    .text-center
      %h3.text-white
        = I18n.t('lose_page.lose_message', name: @game.user)
      %h4.text-white
        = I18n.t('lose_page.code_message')
        %strong #{@game.secret_code}
    %img.img-fluid{alt: "You lose the game!", src: "assets/images/lost.gif"}/
%hr.mb-4/
%a.btn.btn-primary.btn-lg{href: Lib::Source::Router::ROUTES[:main], role: "button"}= I18n.t('button.play_again')
%a.btn.btn-success.btn-lg.float-right{href: Lib::Source::Router::ROUTES[:statistics], role: "button"}= I18n.t('button.statistics')
